<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <!--Alias required when setting type parameter in generic class.-->
  <!--<alias alias="IVMDProcessor" type="VMD.Services.Contracts.Interfaces.IVMDProcessor, VMD.Services.Contracts" />-->
  <container>
    <register type="Bank.IBankAccount, Bank" mapTo="Bank.BankAccount, Bank" />
    <register type="BankTransferService.ITransferService, BankTransferService" mapTo="BankTransferService.TransferService, BankTransferService" />

    <!--Example of a generic class, and one that has a constructor that takes a parameter.-->
    <!--<register type="VMD.Services.Contracts.Interfaces.IServiceClientFactory[IVMDProcessor], VMD.Services.Contracts" mapTo="VMD.Services.SAL.ServiceClientFactory[IVMDProcessor], VMD.Services.SAL">
      <constructor>
        <param name="bindingNameRoot" value="BasicHttpBinding_IVMDProcessor" />
      </constructor>
    </register>-->

  </container>
</unity>
